body {
  padding-top: 70px;
}

.btn-primary{
  margin:5px
}

.ShoppingCart_div{
	margin: 2%;
	margin-top: 10%;
}

.glyphicon-remove{
	color: gray;
}

.glyphicon-remove:hover{
	color:red;
}

.removeMark{
	vertical-align: middle;

}

.input-group{
	width: 20%;
}

.align{
	vertical-align: middle;
}

.quantity-update:hover{
	background-color: green;
	border:none;
};

.checkout{
	margin-top:5%;
	background-color: yellow;
}
